<p>
  user works!
</p>
<div>
  User$: {{user$}}
</div>
<div>
  Intial User: {{user.id}} - {{user.name}}
</div>
<div>
  Initial Book by id: {{book.id}} - {{book.title}}
</div>
<p></p>
<div>
  using selector (create feature selector)
</div>
<div>
  Selected User: {{selectUser.id}} - {{selectUser.name}}
</div>
<div>
  Selected Book: {{selectBook.id}} - {{selectBook.title}}
</div>
<!--<div>
  Fav Book array
</div>
<div>
  <ul *ngFor="let book of favBooks">
     <li>Book: {{book.id}} - {{book.title}} - {{book.author}}</li>
  </ul>
</div>

<div>
  <ul *ngFor="let book of selectFavBooks">
     <li>Book: {{book.id}} - {{book.title}} - {{book.author}}</li>
  </ul>
</div>-->



